{% extends 'base.html' %}
{% load static %}
{% block desc %} 
{{ block.super }}
<meta name="description" content="We believe that hard work commitment and a proper guidance can help a student in achieving their dreams"/>
{% endblock %}
{% block title %}Contact Us{% endblock title %}

{% block css %}
{{ block.super }}
<link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<center>
<section class="bg-dark dark-mode position-relative d-flex align-items-center min-vh-100 overflow-hidden"  style="background-image: url('{% static "images/contact.jpg" %}');background-position: center;
background-blend-mode: color-dodge;">
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 proheading fw-bold " style="color: #ffffff;">CONTACT US</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" style="color:white; font-size:21px;">Connect with Us for Expert Assistance and Friendly Support – Your Questions Are Our Priority! Whether you're seeking guidance or troubleshooting our dedicated team is here to serve you. </p>
    </div>
  </div> 
</section>
</center>
  <br>
  <br>


  
  <div class="page-header-ui-content" id="contact">
    <div class="container px-5" style="max-width: 822px;">
       <div class="card formcard rounded-3 text-dark" style="border:0px">
                    <div class="card-body">
                        <center>
                            <h2  style="font-family:Mokoto;">GET IN TOUCH</h2>
                        </center>
                        <br>
                       {% if messages %}
                        {% for msg in messages %}
                           <div class="alert alert-success alert-dismissible fade show" role="alert">
                           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
                           {{msg.message}}
                           </div>
                        {% endfor %}
                     {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">

                                <input class="form-control" id="name" type="text" placeholder="Name" name="name"
                                    required>
                            </div>
                            <div class="mb-3">

                                <input class="form-control" id="leadCapEmail" type="email" placeholder="Email" name="email"
                                    required>
                            </div>
                            <div class="mb-3">

                                <input class="form-control" id="phonenumber" type="number" max="9999999999" min="1000000000"
                                    placeholder="Contact Number" name="phonenumber" required>
                            </div>
                            <div class="mb-3">

                                <textarea class="form-control" id="message" type="text"
                                    placeholder="Comment your message" name="message" required></textarea>
                            </div>

                            <div class="d-grid"><button class="btn fw-500" style="color: #ffffff;
                              background: black;
                              box-shadow: 0px 6px 10px 0px rgb(255 255 255 / 11%);" name="contactforquery" type="submit">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

<br>

<div class="container px-5" style="max-width: 822px;">
    <div class="card formcard rounded-3 text-dark" style="border:0px;background-color: #d4d3d345;">
                 <div class="card-body">
                     <center>
                         <h2  style="font-family:Mokoto;">CONTACT INFO</h2>
                     </center>
                    
                 </div>

                 <div class="mb-3" style="margin-left:50px;">
                    <a style="text-decoration: none; color: #000000;" href="tel:9310764236"> Phone Number: 9310764236 </a>
                    
                    
                </div>
                <div class="mb-3" style="margin-left:50px;">
                    Send Email:<a href = "mailto: contactus@coderschronicles.com" style="color:black;"><span class="h6 fw-light ms-2">contactus@coderschronicles.com</span></a> , <br>
                    <a href = "mailto: info@coderschronicles.com" style="margin-left:89px;color:black;"><span class="h6 fw-light ms-2">info@coderschronicles.com</span></a>
                    
                    
                </div>

             </div>
         </div>
     </div>
 </div>

 <br>
 <br>

{% endblock content %}